.social-links {
    font-size: 1.4em !important;
}

body{
    background: url(./images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-blend-mode: multiply;
}

.mark {
    text-decoration: underline;
    text-decoration-color: rgb(255, 255, 67);
    text-decoration-thickness: 3px;
}

.bg-scroll{
    background: linear-gradient(to right, #ffffff 1%, #ffffff 2%, rgba(255, 255, 255, 0) 4%, rgba(255, 255, 255, 0) 98%, #ffffff 99%, #ffffff 100%);
    background-color: #00000033;
    padding: 0px 20px;
    overflow: hidden;
    margin: 0px -10px;
}

.scroll-parent{
    position: relative;

}

.scroll-parent-a{
    position: absolute;
    top: 0;
    left: 0;
    animation: scroll-a 12s linear infinite;
}
@keyframes scroll-a {
    0%{
        left: 0%;
    }
    100%{
        left: -100%;
    }
}